<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>遊戲介紹</title>
    <link rel="stylesheet" href="/stylesheets/intro.css">
</head>
<body>
    <div class="intro-container">
        <h1 class="game-title">Pay or Steal</h1>
        <p class="game-description">
            在這款遊戲中，你將面臨金錢與道德的抉擇！<br>
            你可以選擇誠實工作來還清債務，或者<br>
            鋌而走險，透過偷竊快速致富！<br><br>
            但請小心，警察正在監視你，<br>
            你的聲譽與警示值將影響你的未來！
        </p>
        <button class="back-button" onclick="back()">返回</button>
    </div>

    <script>
        function back() {
            window.location.href = "/"; 
        }
    </script>
</body>
</html>
